@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.root {
    height: 100%;
    padding: 0;
    margin: 0;
}
.container {
    font-family: 'Poppins';
}
.App {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.form-heading {
    font-size: large;
    text-align: center;
}
.form-btns {
    display: flex;
    justify-content: center;
}
.form-btn {
    margin: 10px !important;
}
.form-control, .page-stats{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-top: 10vh;
    padding: 2rem;
    border-radius: 20px;
}
.form-control {
    background-color: greenyellow;
}
@media (max-width: 600px) {
    .form-control {
        width: 90vw;
    }
}
.page-stats {
    text-align: center;
    background-color: black;
    color: chartreuse;
    margin: 5vw;
}
.logout {
    float: right;
}
.header {
    display: flex;
    justify-content: end;
}
.user-logs {
    font-size: 1.5rem;
    text-align: center;
}
.stats {
    display: flex;
    justify-content: center;
}